<mat-card class="repo-card">
  <div class="repo-author-wrapper">
      <div class="author-box">
        <img src="{{repo['owner'].avatar_url}}" />
        <h3>{{repo['owner'].login}}</h3>
      </div>
  </div>
  <div class="repo-repo-wrapper">
      <mat-card-content>
          <h2 class="repo-title"><a href="{{repo['html_url']}}" target="_blank">{{repo['name']}}</a></h2>
          <p>{{repo['description']}}</p>
          <div class="star-box">
            <mat-icon>star</mat-icon>
            <span>{{repo['stargazers_count']}}</span></div>
        </mat-card-content>
  </div>
</mat-card>
